*, *::after, *::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    background: #000027;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


section.tooltip {
    background: #e8e8f7;
    width: 500px;
    height: 400px;
    padding: 2rem;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article:not(:first-child) {
    margin-top: 2.5rem;
    position: relative;
}

button {
    padding: 0.5rem 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 5px;
    background: #d2691e;
    font-size: 1.125rem;
}

p {
    position: absolute;
    left: 50%;
    width: 150px;
    background: #b3b3f3;
    text-align: center;
    padding: 0.5rem;
    margin-top: 0.15rem;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 1;
}

button:hover + p {
    visibility: visible;
    opacity: 1;
}