/* ===== UNIVERSAL STYLES ===== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-size: 1.125rem;
    min-height: 100dvh;
    color: #f0f8ff;
}





/* ===== RESET ===== */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

span {
    display: block;
}





/* ===== NAVIGATION ===== */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #00182d;
}

ul {
    display: inline-flex;
}

ul li a {
    color: #f0f8ff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

ul li a:hover {
    border: 1px solid #f0f8ff;
    transition: all 0.5s ease-in;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: #deb887;
}





/* ===== HEADER ===== */
header {
    background: linear-gradient(45deg, #281701 50%, #683e07 50%);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.6;
    position: relative;
}

h1 {
    font-size: 3.5rem;
}

button {
    padding: 1rem 2rem;
    border-radius: 7px;
    border: 1px solid #f0f8ff;
    background-color: transparent;
    color: #f0f8ff;
    position: absolute;
    bottom: 20%;
}

button:hover {
    background-color: #361f01;
    transition: all 0.5s ease-in;
}

